
@{
    ViewData["Title"] = "Play";
}

<h2>Play</h2>

@*<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@ViewBag.Card["image"]" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@ViewBag.Card["code"]</h5>
        <p class="card-text">@ViewBag.Card["value"] of @ViewBag.Card["suit"]</p>
    </div>
</div>*@

@*@for (int i = 0; i < ViewBag.Cards.Count; i++)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@ViewBag.Cards[i]["image"]" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@ViewBag.Cards[i]["code"]</h5>
                <p class="card-text">@ViewBag.Cards[i]["value"] of @ViewBag.Cards[i]["suit"]</p>
            </div>
        </div>
    }*@
