@model Lab28Framework.Models.Draw
@{
    ViewBag.Title = "Battle";
}

<h2>Battle</h2>
<table class="table text-center">
    <tr>
        <th>
            Player 1 Wins
        </th>
        <th>
            Ties
        </th>
        <th>
            Player 2 Wins
        </th>
    </tr>
    <tr>
        <td>
            @TempData["player1wins"]
        </td>
        <td>
            @TempData["ties"]
        </td>
        <td>
            @TempData["player2wins"]
        </td>
    </tr>
</table>

<div class="jumbotron">
    <div class="card-deck">
        @for (int i = 0; i < Model.Cards.Length; i++)
        {
            <div class="card" style="width: 4rem;">
                <img class="card-img-top" src="@Model.Cards[i].Images.Png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Model.Cards[i].Code</h5>
                    <p class="card-text">@Model.Cards[i].Value of @Model.Cards[i].Suit</p>
                </div>
            </div>
        }
    </div>
</div>