@model IEnumerable<Capstone6.Models.Todo>

@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-primary m-3" asp-action="Create" role="button">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th class=" text-center">
                @Html.DisplayNameFor(model => model.Complete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td class=" text-center">
                @Html.DisplayFor(modelItem => item.Complete)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaskID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TaskID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TaskID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
